body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.code-panel {
    width: 100%;
    padding: 12px;
    border: 1px solid #eee;
    background: #fff;
    font-size: 12px;
}

.code-indent-1 {
    padding-left: 57px;
}

.indent-select-td {
    padding-left: 98px;
}

.indent-leftjion {
    padding-left: 90px;
}

.indent-leftjion-on {
    padding-left: 104px;
}

.indent-where {
    padding-left: 100px;
}

.format-note {
    color: #57a64a;
}

.format-keywords {
    color: #569cd6;
}

.format-class {
    color: #4ec9b0;
}

.format-interface {
    color: #b8d7a3;
}

.format-strVal {
    color: #d69d85;
}
