@page
@model IndexPageModel
@{
    ViewBag.Title = "Wunion.DataAdapter.NetCore - 演示项目";
}
@section OwnStyles {
    <link rel="stylesheet" href="~/lib/jquery/css/easyui.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/styles/app.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/styles/app.css" />
    </environment>
}
@section OwnScripts {
    <script src="~/lib/jquery/dist/jquery.easyui.min.js"></script>
    <environment include="Development">
        <script src="~/js/service-request.js" asp-append-version="true"></script>
        <script src="~/js/url-querystring.js" asp-append-version="true"></script>
        <script src="~/js/web-app.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/service-request.js"></script>
        <script src="~/js/url-querystring.js"></script>
        <script src="~/js/web-app.js"></script>
    </environment>
}
<header>
    <h2 class="app-caption">@ViewBag.Title</h2>
    <ul class="top-navbar">
        <li><a class="item-active" data-view="Shared/DataList" href="javascript:;"><i class="layui-icon" style="margin-right: 5px;">&#xe63c;</i>数据信息</a></li>
        <li><a data-view="Shared/GroupList" href="javascript:;"><i class="layui-icon" style="margin-right: 5px;">&#xe653;</i>分组信息</a></li>
    </ul>
    <div style="clear:both;"></div>
    <hr style="width: calc(100% - 22px); margin: 0px auto;" />
</header>
<div class="module-view">此乃子视图内容区.</div>