@using Wunion.DataAdapter.Kernel;
@using Wunion.DataAdapter.Kernel.SQLServer;
@using Wunion.DataAdapter.Kernel.MySQL;
@using Wunion.DataAdapter.Kernel.PostgreSQL;

@{ 
    ViewData["Title"] = "演示";
}
@section Scripts {
    <script type="text/javascript" src="/ResourceFiles/File/CryptoJS-core-min.js"></script>
    <script type="text/javascript" src="/ResourceFiles/File/enc-base64-min.js"></script>
    <link rel="stylesheet" href="/ResourceFiles/File/bootstrap-table-css.css" />
    <script type="text/javascript" src="/ResourceFiles/File/bootstrap-table.js"></script>
    <script type="text/javascript" src="/ResourceFiles/File/bootstrap-table-zh-CN.js"></script>  
    <script type="text/javascript" src="/ResourceFiles/File/jquery.form.js"></script>
    <script type="text/javascript" src="/ResourceFiles/File/About.js"></script>
    <script type="text/javascript" src="/ResourceFiles/File/About.Change.js"></script>
}

<div style="margin-top: 22px;">
    <!-- 导航工具栏 -->
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a href="#list-database" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                    @if (DataEngine.CurrentEngine.DBA is SqlServerDbAccess)
    {
                <span id="curr-db">数据库：Microsoft SQL Server</span>
}
else if (DataEngine.CurrentEngine.DBA is MySqlDBAccess)
{
                <span id="curr-db">数据库：MariaDB 10.2（MySQL）</span>
}
else if (DataEngine.CurrentEngine.DBA is NpgsqlDbAccess)
{
                <span id="curr-db">数据库：PostgreSQL</span>
}
else
{
                <span id="curr-db">数据库：SQLite3</span>
}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#db-sqlite3" data-value="Default">SQLite3</a></li>
                    <li><a href="#db-mssql" data-value="SQLServer">Microsoft SQL Server</a></li>
                    <li><a href="#db-npgsql" data-value="PostgreSQL">PostgreSQL 10</a></li>
                    <li><a href="#db-mysql" data-value="MariaDB">MariaDB 10.2（MySQL）</a></li>
                </ul>
            </li>
            <li>
                <a>选择分组：<select id="select-group"><option value="">选择</option><option value="分组一">分组一</option></select></a>
            </li>
            <li><a href="#add-group">添加分组</a></li>
            <li><a href="#add-data">添加记录</a></li>
            <li><a href="#remove-data">删除记录</a></li>
        </ul>
    </nav>
</div>
<!-- 数据网格 -->
<div id="datagrid-panel" class="panel panel-default">
    <div id="data-grid"></div>
</div>

<!-- 模态对话框 -->
<div id="modalDialog" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="modal-close"><span aria-hidden="true">&times;</span></button>
                <h4 id="dialog-title" class="modal-title">对话框标题</h4>
            </div>
            <div id="dialog-content" class="modal-body">
                这是内容。
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-cancel" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" id="modalbtn-ok" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>
