<h3>Wunion.DataAdapter.NetCore 组件库</h3>

<address>
    如果您不喜欢 ORM 框架带来的大量实体代码，而又不放心 DbHelper 不妨试试该组件<br />
    使用该组件可以让您的项目在更换不同类型的数据库时不用改动任何代码<br />
    以 C# 对象结构建 SQL 命令，完美兼容不同类型数据库的命令差异
</address>

<address>
    <p>
        运行环境：.NET Core 2.0 | .NET Framework 4.x <br />
        <span style="color: #ff0000;">若希望将项目在 .NET Framework 与 .NET Core 2.0 间快速移植时，在 .NET Framwork 平台应使用 Wunion.DataAdapter.Kernel 2.0.0.0 及以上版本 。</span>
    </p>
</address>

<hr />
<address>
    <strong>版权及免责声明</strong>
    <p>
        该组件为开源项目，目前完全免费。所有该组件的原生代码版权为开发者本人所有，任何企业及个人皆可免费使用，但除开发者外禁止任何企业以及个人以任何形式将组件的源代码纳入自己的知识产权范围。使用该组件源引起的任何商业或利益上的损失、风险以及任何刑事或民事纠纷一概由使用者自行承担。
    </p>
</address>
<address>
    <strong>开发者:</strong> 巽翎君<br />
    <strong>E-mail:</strong> cnzhnet@gmail.com | cnzhnet@hotmail.com <br />
    <strong>开源地址:</strong> <a href="http://code.wunion.net/VaultService/index.html" target="_blank">code.wunion.net</a>
</address>
