@using Wunion.DataAdapter.NetCore.Test.Models;
@model ModuleViewModel;
@{ 
    Layout = null;
}
<div class="layui-form container" lay-filter="dlist_view">
    <div class="custom-toolsbar">
        <div class="dropdown-list" style="width: 162px; margin-right: 3px;">
            <database-collection http-context="@Model.Context" lay-filter="ch_database">
                <item-database db-kind="ms-sql" text="SQL Server 2012+" />
                <item-database db-kind="mysql" text="MySQL数据库" />
                <item-database db-kind="npgsql" text="PostgreSQL数据库" />
                <item-database db-kind="sqlite3" text="SQLite数据库" />
            </database-collection>
        </div>
        <div class="dropdown-list" style="width: 150px;">
            <select lay-filter="group_dropdown" id="group-dropdown"></select>
        </div>
        <group style="float: right;">
            <input type="text" class="tool-textbox" style="text-align: right;" placeholder="在此输入关键字搜索" autocomplete="off" id="search-keywords" />
            <button type="button" class="tool-button" event-name="search">
                <i class="layui-icon">&#xe615;</i>搜索
            </button>
            <button type="button" class="tool-button" event-name="add">
                <i class="layui-icon">&#xe654;</i>添加
            </button>
        </group>
        <div style="clear: both;"></div>
    </div>
    <div id="data-listView" style="width: 100%;">
        正在加载请稍候......
    </div>
    <div class="pagination-bar" id="pagination"></div>
</div>
<script src="~/js/module-views/data-listview.js"></script>