@using Wunion.DataAdapter.NetCore.Test.Models;
@model ModuleViewModel;
@{ 
    Layout = null;
}
<div class="container">
    <div id="data-listView" style="width: 100%;">
        正在加载请稍候......
    </div>
    <div class="status-bar">
        <div class="custom-toolbox">自定义工具栏.</div>
        <div class="pagination-box" id="list-pagination"></div>
        <div style="clear: both;"></div>
    </div>
</div>
<script src="~/js/module-views/data-listview.js"></script>