@using Wunion.DataAdapter.NetCore.Test.Models;
@model ErrorViewModel;
@{
    Layout = null;
}
<div class="card error-view">
    <div class="card-body">
        <p class="card-title">@Model.Title</p>
        <p class="card-description">@Model.Message</p>
    </div>
</div>