@using Wunion.DataAdapter.NetCore.Test.Models;
@model ModuleViewModel;
@{ 
    Layout = null;
}
<div class="layui-form container" lay-filter="group_listView">
    <div class="custom-toolsbar">
        <div class="dropdown-list" style="width: 150px;">
            <database-collection http-context="@Model.Context" lay-filter="ch_database">
                <item-database db-kind="ms-sql" text="SQL Server 2012+" />
                <item-database db-kind="mysql" text="MySQL数据库" />
                <item-database db-kind="npgsql" text="PostgreSQL数据库" />
                <item-database db-kind="sqlite3" text="SQLite数据库" />
            </database-collection>
        </div>
        <group style="float: left;">
            <button type="button" class="tool-button" event-name="add">
                <i class="layui-icon">&#xe654;</i>添加分组
            </button>
        </group>
        <div style="clear: both;"></div>
    </div>
    <ul class="group-list-view">
        <li>
            <h2>分组一</h2>
            <div class="item-toolbox">
                <a href="javascript:;" data-id="" event-name="delete">删除<i class="layui-icon">&#xe640;</i></a>
            </div>
        </li>
        <li class="last-item">
            <h2>分组二</h2>
            <div class="item-toolbox">
                <a href="javascript:;" data-id="" event-name="delete">删除<i class="layui-icon">&#xe640;</i></a>
            </div>
        </li>
    </ul>
</div>
<script src="~/js/module-views/group-listview.js"></script>